#noticiasValpo{
    span{
        margin: 7% auto 0 auto;   
    }
}
#copyright{
    span{
        margin: 0 auto 5% auto;   
    }

}
#copyright{
    font-size: small;
}
#noticiasValpo{
    font-size: large;
    font-style: italic;
}