<div class="container-fluid">

    <div class="row banner">
        <img src="https://picsum.photos/2000/400?random=8" alt="bannerPrincipal">
    </div>

    <section class="seccionNoticiasDestacadas">
        <div  class="row justify-content-md-center">
            <div *ngFor="let noticia of listaNoticias" class="col-3 cuadroNoticia">
                <div class="row">
                    <img src="{{noticia.imagen}}" alt="imgNoticia">
                </div>
                <div class="row">
                    <h2>{{noticia.titulo}}</h2>
                </div>
                <div class="row">
                    <h3>{{noticia.autor}} | {{noticia.fecha}}</h3>
                </div>
                <div class="row">
                    <p>{{noticia.contenido}}</p>
                </div>
                <div class="row">                    
                    <button [routerLink]="['/detalleNoticia',noticia.id]" routerLinkActive="router-link-active" >Ver Más</button>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row" id="noticiasValpo">
        <span> Noticias - Valparaiso</span>
    </div>
    <hr>
    <div class="row" id="copyright">
        <span> Copyright @ 2021 Your Company Name | Creado por: asdfasd</span>
    </div>
</div>