<div class="container-fluid">
    <div class="row justify-content-center  navbar-dark bg-dark">
        <div class="col-4 ">
            <ul ngbNav #nav="ngbNav" class="nav-tabs ">
                <li ngbNavItem>
                    <a ngbNavLink>Inicio</a>
                    <ng-template ngbNavContent>First content</ng-template>
                    </li>
                <li ngbNavItem>
                    <a ngbNavLink>Noticias</a>
                    <ng-template ngbNavContent>Second content</ng-template>
                    </li>
                <li ngbNavItem>
                    <a ngbNavLink>Servicio Al Cliente</a>
                    <ng-template ngbNavContent>Second content</ng-template>
                    </li>
            </ul>
        </div>               
    </div>

    <div [ngbNavOutlet]="nav" class="row"></div>
    <div class="row banner">
        <img src="https://picsum.photos/2000/400?random=8" alt="bannerPrincipal">
    </div>
    <section class="seccionNoticiasDestacadas">
        <div class="row">
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=1" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=7" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=6" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=5" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=4" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=3" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
            <div class="col cuadroNoticia">
                <div class="row">
                    <img src="https://picsum.photos/400/200?random=2" alt="imgNoticia">
                </div>
                <div class="row">
                    <h3>Titulo de la noticia</h3>                
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae repudiandae, facere a cupiditate deserunt molestias ipsa assumenda labore esse unde corrupti saepe, molestiae quasi sapiente praesentium accusamus numquam.</p>
                </div>
                <div class="row">
                    <button>Leer Mas</button>
                </div>
            </div>
        </div>

    </section>
    
    <div class="row" id="noticiasValpo">
        <span> Noticias - Valparaiso</span>
    </div>
    <hr>
    <div class="row" id="copyright">
        <span> Copyright @ 2021 Your Company Name | Creado por: asdfasd</span>
    </div>
</div>

<router-outlet></router-outlet>
