<div class="container">
<section class="row formulario">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">

            <!-- Nombre -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre Completo</label>
                <div class="col-sm-9">
                    <input class="form-control"
                            formControlName="nombre"
                            placeholder="Nombre Completo de la Persona">
                        <span class="form-text text-danger"
                            *ngIf="campoEsValido('nombre')">
                            Obligatorio, inserte nombre y apellidos válidos
                        </span>
                        <span class="form-text text-danger"
                            *ngIf="validarNombre()">
                            Debe ingresar un nombre y dos apellidos
                        </span>
                    
                </div>
            </div>

            <!-- telefono -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Teléfono</label>
                <div class="col-sm-9">
                    <input class="form-control"
                            formControlName="telefono"
                            placeholder="Teléfono de la Persona">
                        <span class="form-text text-danger"
                            *ngIf="campoEsValido('telefono')">
                            Obligatorio, inserte un número telefónico de 9 dígitos
                        </span>
                </div>
            </div>

            <!-- correo -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Correo</label>
                <div class="col-sm-9">
                    <input class="form-control"
                            formControlName="correo"
                            placeholder="correo@example.com">
                        <span class="form-text text-danger"
                            *ngIf="campoEsValido('correo')">
                            Obligatorio, inserte su correo electrónico
                        </span>
                </div>
            </div>

            <!-- dirigido a -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Dirigido a</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            formControlName="dirigidoA">
                        <option value="contenidos">Contenidos</option>
                        <option value="publicidad">Publicidad</option>
                        <option value="sugerencias">Sugerencias</option>
                        <option value="suscripciones">Suscripciones Digitales</option>
                    </select>
                    <span class="form-text text-danger"
                        *ngIf="campoEsValido('dirigidoA')">
                        Este campo es obligatorio, seleccione una opción
                    </span>
                </div>
            </div>

            <!-- mensaje -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Mensaje</label>
                <div class="col-sm-9">
                    <textarea class="form-control"
                            formControlName="mensaje"
                            placeholder="Mensaje de la Persona"></textarea>
                        <span class="form-text text-danger"
                            *ngIf="campoEsValido('mensaje')">
                            Este campo es obligatorio, ingrese el mensaje a enviar (máximo 200 caracteres)
                        </span>
                        <div class="row">
                            <div class="col">
                                <span class="form-text text-muted">
                                    {{ restanteMensaje() }} caracteres restantes
                                </span>
                            </div>
                        </div>


                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button type="button"
                            class="btn btn-primary float-end"
                            (click)="guardar()">
                        Guardar
                    </button>
                </div>
            </div>


        </form>
</div>
</section>
</div>